/*
Theme Name: Salient Child Theme
Theme URI: http: //mysite.com/
Description: This is a custom child theme for Salient
Author: My Name
Author URI: http: //mysite.com/
Template: salient
Version: 0.1
*/

header#top nav > ul > li > a {
	padding-right: 15px !important;
	padding-left: 15px !important;
	font-weight: 700;
}

.masonry.meta_overlaid article.media-appearance .post-header .meta-author > span,
.masonry.meta_overlaid article.post .post-header .meta-author > span {
	text-transform: inherit !important;
}

.masonry.meta_overlaid article.media-appearance .post-header .meta-author > span > a.source-link {
	font-family: inherit;
	font-size: 13px;
	margin-left: 0;
	letter-spacing: .5px;
}

body.archive.tax-source .main-content .section-title {
	text-align: center;
	padding: 0;
}

body.archive.tax-source .main-content .section-title img {
	max-height: 100px;
}

@media only screen and (min-width: 1000px) {
	.container, .woocommerce-tabs .full-width-content .tab-container {
		max-width: 100% !important;
		padding: 0 40px !important;
	}
}

.menu-item-periscope-live-btn {
	margin-top: 2px !important;
	margin-left: 50px !important;
}

#header-secondary-outer nav > ul > li.menu-item-25 > a {
	border-right: 1px solid #ddd;
}

#header-secondary-outer nav > ul > li.menu-item-periscope-live-btn > a {
	border-left: none;
}

.masonry.meta_overlaid .masonry-blog-item {
	padding: 0 18px 20px 0 !important;
}

#search-results .result, .masonry-blog-item {
	background-color: transparent !important;
}

#post-area.infinite_scroll #pagination {
	display: block !important;
}

#post-area.masonry #pagination {
	position: inherit !important;
	bottom: 0 !important;
	text-align: center;
	padding-right: 27px;
}

#pagination .next a {
	background-image: none !important;
	text-indent: inherit !important;
	height: inherit !important;
	width: inherit !important;
	padding: 4px 13px 4px 13px!important;
	text-transform: uppercase;
	width: 100% !important;
	letter-spacing: 5px;
}

#pagination > div {
	float: inherit !important;
}

.home-wrap,
.home-wrap .container-wrap {
	padding-top: 0 !important;
}

#featured article .post-title h2 span {
	text-transform: none !important;
}

.facebook-follow {
	background-color: #4763B2;
	padding-top: 6px !important;
	padding-bottom: 9px !important;
}

.twitter-follow {
	background-color: #00ACEE;
}

.youtube-follow {
	background-color: #E62117;
}

.google-plus-follow {
	background-color: #DB4437;
}

.social-follow-btns .facebook-follow,
.social-follow-btns .twitter-follow,
.social-follow-btns .youtube-follow,
.social-follow-btns .google-plus-follow {
	padding-top: 10px;
	padding-bottom: 3px;
	border-radius: 3px;
}

body .masonry.meta_overlaid .masonry-blog-item .post-featured-img:before {
	width: 100% !important;
}

#post-area .post-featured-img img {
	width: 100% !important;
	max-width: 100% !important;
}

.sow-subscribe-form {
	background-color: #888 !important;
	padding: 15px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
}

.sow-subscribe-form .gform_heading {
	text-align: center;
	width: 100% !important;
	margin-bottom: 0 !important;
}

.sow-subscribe-form .gform_description {
	color: #ffffff;
	font-size: 24px;
	font-weight: 600 !important;
}

.sow-subscribe-form .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span.name_first {
	margin-right: 1.3%;
}

.sow-subscribe-form .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span.name_last {
	float: right;
}

.sow-subscribe-form .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	width: 48.5%;
	vertical-align: top;
}

.sow-subscribe-form .gform_body label {
	display: none;
}

.sow-subscribe-form div ul li {
	border-bottom: none !important;
}

.sow-subscribe-form ul {
	margin-bottom: 5px !important;
}

.sow-subscribe-form input::-webkit-input-placeholder {
	color: #555 !important;
}

.sow-subscribe-form input:-moz-placeholder {
	color: #555 !important;
}

.sow-subscribe-form input::-moz-placeholder {
	color: #555 !important;
}

.sow-subscribe-form input:-ms-input-placeholder {
	color: #555 !important;
}

.sow-subscribe-form input[type=text] {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
}

#sidebar > div {
	margin-bottom: 30px !important;
}

.social-follow-btns div.clear {
	padding-bottom: 12px;
}

.sow-subscribe-form  input[type=text] {
	padding: 6px !important;
}

.medium-feed .entry-image {
	float: left;
	margin-right: 10px;
	margin-bottom: 0 !important;
}

.medium-feed article {
	border-bottom: none !important;
	padding: 10px;
	background-color: #f4f4f4 !important;
	border-radius: 2px !important;
	min-height: 120px;
	margin-bottom: 0 !important;
}

.medium-feed .entry-title {
	line-height: 17px;
}

.medium-feed .entry-image img {
	margin-bottom: 0 !important;
}

.medium-feed div.clear {
	padding-bottom: 18px !important;
}

.widget_ultimate_posts > h4 a {
	font-size: 25px;
	color: #fff;
}

.medium-feed.widget_ultimate_posts {
	background-color: #0d72ba !important;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
}

#sidebar > div.social-follow-btns,
#sidebar > div.meerkat-stats-banner {
	margin-bottom: 20px !important;
}

#sidebar .fa {
	font-size: 16px;
	float: right;
	line-height: 47px;
}

.medium-feed > .hfeed {
	padding: 15px;
}

.widget_ultimate_posts > h4 {
	padding: 0 15px;
	line-height: 47px;
	margin-bottom: 0px !important;
	background-color: #084672;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

/*  SECTIONS  */
.podcasts-widget .section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.podcasts-widget {
	background-color: #F8F8F8;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	border-radius: 2px;
}

/*  COLUMN SETUP  */
.podcasts-widget .col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.podcasts-widget .col:first-child { margin-left: 0; }

/*  GROUPING  */
.podcasts-widget .group:before,
.podcasts-widget .group:after { content:""; display:table; }
.podcasts-widget .group:after { clear:both;}
.podcasts-widget .group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FIVE  */
.podcasts-widget .span_5_of_5 {
	width: 100%;
}
.podcasts-widget .span_4_of_5 {
	width: 79.68%;
}
.podcasts-widget .span_3_of_5 {
	width: 59.36%;
}
.podcasts-widget .span_2_of_5 {
	width: 39.04%;
}
.podcasts-widget .span_1_of_5 {
	width: 18.72%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.podcasts-widget .col {  margin: 1% 0 1% 0%; }
	.podcasts-widget .span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
}

.meerkat-stats-banner img {
	margin-bottom: 8px !important;
}

.podcasts-widget img.podcast-thumb {
	border: 1px solid #fff;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.3);
	-moz-box-shadow: rgba(0,0,0,.3) 0 3px 5px;
	border-color: #a2a2a2\9;
	margin-bottom: 0 !important;
}

.podcasts-widget div.col {
	position: relative;
}

.podcasts-widget .col ul li {
	border-bottom: none !important;
	padding: 0 !important;
	text-align: center;
}

.tooltipster-podcasts .tooltipster-content img.itunes-icon,
.tooltipster-podcasts .tooltipster-content img.stitcher-icon {
	margin-bottom: 0 !important;
	margin-right: 4px;
	position: relative;
	top: 3px;
}

.tooltipster-podcasts .tooltipster-content .itunes-link:after, 
.tooltipster-podcasts .tooltipster-content .stitcher-link:after {
	content: " »";
}

.podcasts-widget .itunes-link,
.podcasts-widget .stitcher-link {
	display: block;
	color: #7C0D0D;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	margin: 6px 0;
	float: none;
	clear: both;
}

.podcasts-widget div.col:hover span.hover {
	opacity: 1;
}

.podcasts-widget span.hover {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.95) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.95))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.95) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.95) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.95) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.95) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	color: white;
	height: 102.906px;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}

.podcasts-widget span.hover ul {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.podcasts-widget .itunes-link:hover,
.podcasts-widget .stitcher-link:hover {
	color: #ffffff !important;
}

.podcasts-widget > h4 {
	margin-bottom: 0 !important;
}

.youtube-feeds img {
	margin-bottom: inherit !important;
	max-width: none !important;
	width: 100% !important;
	height: inherit !important;
}

.youtube-feeds .sbvcytc-content {
	background: rgba(0, 0, 0, 0.5);
}

.youtube-feeds .sbvcytc-content a.sbvcytc-title {
	color: #F8F8F8 !important;
}

.youtube-feeds .sbvcytc-content a.sbvcytc-title:hover {
	color: #167ac6 !important;
}

.youtube-feeds .sbvcytc-content .sbvcytc-meta,
.youtube-feeds .sbvcytc-content .sbvcytc-meta-item {
	border-color: #F8F8F8 !important;
	color: #F8F8F8 !important;
}

.youtube-videos-container .sbvcytc-isotope-item {
	padding-top: 1px !important;
}

.youtube-videos-container .vc_row {
	margin-bottom: 0 !important;
}

.youtube-videos-container .column_container {
	padding-right: 40px;
}

div.widget.the-10x-entrepreneur-logo,
div.widget.twitter-timeline-widget {
	text-align: center;
}

.masonry.meta_overlaid article.post .post-header .original-source {
	font-size: 11px;
	font-family: Libre Baskerville;
	line-height: 28px;
	font-weight: 400;
	font-style: italic;
	position: absolute;
	right: 10px;
	letter-spacing: .5px;
}

.medium-feed h4.entry-title {
	font-size: 16px !important;
}

.tooltipster-podcasts {
	border-radius: 5px; 
	border: 2px solid #444;
	background: #F8F8F8;
	color: #666666;
}
.tooltipster-podcasts .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}

.single-post #page-header-bg.bg-overlay:after {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
	content: " ";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1) 0s;
	width: 100%;
}

.single-post #page-header-bg.bottom-shadow:before {
	background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.06) 16%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0.6) 100%);
	background: -webkit-linear-gradient(top , rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.06) 16%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0.6) 100%);
	bottom: 0;
	content: " ";
	display: block;
	height: 351px;
	left: 0;
	position: absolute;
	transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1) 0s;
	width: 100%;
}

.single #single-below-header span {
	font-size: 16px !important;
	font-weight: 400;
}

.single #page-header-bg #single-meta {
	margin-top: 20px !important;
	position: inherit;
}

.blog_next_prev_buttons {
	margin-left: -45px !important;
}

article.post .content-inner {
	border-bottom: none !important;
	margin-bottom: 25px !important;
	padding-bottom: 0 !important;
}

.mashicon-subscribe {
	background: #B7B7B7 !important;
}

.mashsb-toggle-container {
	border: 10px solid #B7B7B7 !important;
	padding: 0;
	width: 40%;
}

.mashsb-toggle-container .gform_body ul {
	margin-left: 0;
}

.mashsb-toggle-container .gform_body ul li {
	list-style: none;
	padding: 8px 0px;
}

.gform_wrapper .validation_error,
.gform_wrapper .validation_message {
	color: #fff;
}

.grant_quote_footer .grant_quote_content {
	background: #F8F8F8;
	padding: 34px;
	float: none;
	position: relative;
	margin-bottom: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.grant_quote_footer .grant_quote_content:before {
	border-color: rgba(204, 204, 204, 0);
	border-top-color: #ccc;
	border-width: 16px;
	left: 50px;
	margin-left: -16px;
}

.grant_quote_footer .grant_quote_content:before {
	content: "";
	width: 40px;
	height: 40px;
	background: none;
	background-image: url(/wp-content/uploads/2015/11/sprites.png);
	background-position: -600px -150px;
	background-repeat: no-repeat;
	position: absolute;
}

.grant_quote_footer .grant_quote_content div {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: 1.8em;
	color: #555;
	padding-top: 40px;
}

.grant_quote_footer .grant_quote_content:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #f4f4f4;
	border-width: 15px;
	left: 100px;
	margin-left: -15px;
}

.send-testimonial-form .tmls_form_error_message,
.send-testimonial-form-sidebar .tmls_form_error_message {
	text-align: center;
}

.send-testimonial-form form.tmls_form,
.send-testimonial-form-sidebar form.tmls_form {
	margin: 0 auto;
}

.tmls_container {
	text-align: justify;
}

.send-testimonial-form-sidebar {
	background: top no-repeat url(/wp-content/uploads/2015/11/SuccessStories_Banner_600x80.jpg);
	border: 1px solid #252525;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	padding: 80px 20px 20px 20px;
	background-size:contain;
}

.words-from-gc h3,
.gc-shows h3,
.gc-accomplishments h3 {
	font-family: Lovelo,sans-serif !important;
	letter-spacing: 2px !important;
	font-size: 20px !important;
	line-height: 28px !important;
	font-weight: 400 !important;
	color: #FFF;
}

.words-from-gc p,
.gc-accomplishments ul {
	font-size: 18px;
	line-height: 30px;
}

/*  SECTIONS  */
.gc-shows .section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.gc-shows .col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.gc-shows .col:first-child { margin-left: 0; }

/*  GROUPING  */
.gc-shows .group:before,
.gc-shows .group:after { content:""; display:table; }
.gc-shows .group:after { clear:both;}
.gc-shows .group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FIVE  */
.gc-shows .span_5_of_5 {
	width: 100%;
}
.gc-shows .span_4_of_5 {
	width: 79.68%;
}
.gc-shows .span_3_of_5 {
	width: 59.36%;
}
.gc-shows .span_2_of_5 {
	width: 39.04%;
}
.gc-shows .span_1_of_5 {
	width: 18.72%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.gc-shows .col {  margin: 1% 0 1% 0%; }
	.gc-shows .span_1_of_5, .gc-shows .span_2_of_5, .gc-shows .span_3_of_5, .gc-shows .span_4_of_5, .gc-shows .span_5_of_5 { width: 100%; }
}

.gc-shows .col img {
	border: 1px solid #fff;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.3);
	-moz-box-shadow: rgba(0,0,0,.3) 0 3px 5px;
	border-color: #a2a2a2\9;
}

.about-gc-content-wrapper p,
.about-cu-cod p,
.about-gc-fam p {
	font-size: 18px !important;
	line-height: 30px;
	text-align: justify;
}

.gc-accomplishments ul {
	color: #fff;
}

.gc-accomplishments .nectar-fancy-ul ul li .icon-default-style[class^="icon-"] {
	font-size: 24px!important;
}

/*  SECTIONS  */
.gc-books .section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.gc-books .col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.gc-books .col:first-child { margin-left: 0; }

/*  GROUPING  */
.gc-books .group:before,
.gc-books .group:after { content:""; display:table; }
.gc-books .group:after { clear:both;}
.gc-books .group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FIVE  */
.gc-books .span_5_of_5 {
	width: 100%;
}
.gc-books .span_4_of_5 {
	width: 79.68%;
}
.gc-books .span_3_of_5 {
	width: 59.36%;
}
.gc-books .span_2_of_5 {
	width: 39.04%;
}
.gc-books .span_1_of_5 {
	width: 18.72%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.gc-books .col {  margin: 1% 0 1% 0%; }
	.gc-books .span_1_of_5, .gc-books .span_2_of_5, .gc-books .span_3_of_5, .gc-books .span_4_of_5, .gc-books .span_5_of_5 { width: 100%; }
}

.gc-books h3 {
	font-family: Lovelo,sans-serif !important;
	letter-spacing: 2px !important;
	font-size: 20px !important;
	line-height: 28px !important;
	font-weight: 400 !important;
	color: #444;
}

.gc-books .section img {
	padding: 5px !important;
	border: 1px solid #ccc;
}

.gc-books.col.boxed:hover, 
.gc-books.wpb_column.boxed:hover {
	top: inherit !important;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.about-cu-cod a {
	color: #F8F8F8;
	text-decoration: underline;
}

.tooltipster-content li.podcast-title {
	text-align: center;
	margin-bottom: 5px;
}

